
@media (max-device-height:960px) {
    .hRow{
        min-height: 300px;        
    }    
}

@media (min-device-height:961px) {
    .hRow{
        min-height: 400px;
    }   
}

.height10{
    height: 10px;
}
.height20{
    height: 20px;
}
.height30{
    height: 30px;
}
.height40{
    height: 40px;
}
.height40{
    height: 40px;
}
.height50{
    height: 50px;
}
.height200{
    height: 200px;
}

.width10{
    width: 10px;
    min-width: 10px;
    max-width: 10px;
}

.width20{
    width: 20px;
    min-width: 20px;
    max-width: 20px;
}

.width40{
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}

.width50{
    width: 50px;
    min-width: 50px;
    max-width: 50px;
}

.width80{
    width: 80px;
    min-width: 80px;
    max-width: 80px;
}

.width100{
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}

.width150{
    width: 150px;
    min-width: 150px;
    max-width: 150px;
}

.width200{
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

.width300{
    width: 300px;
    min-width: 300px;
    max-width: 300px;
}